# Backend venv + local chromadb
backend/venv/


# Environment variables
# Root .env
backend/.env
*.env
# Render-Style Mounted .env
backend/etc/

# Pycache folders + compiled python
__pycache__/
*.py[codz]
*$py.class