# Python Version (Necessary for Render deployment)
PYTHON_VERSION=

# Open AI API Key
OPENAI_API_KEY=

# Open AI Models
LLM_MODEL=
EMBEDDING_MODEL=

# Chroma DB Local info
CHROMA_DIR=
COLLECTION_NAME=

# Path to course documents
DOCS_DIR=
